services:
  amass:
    image: owaspamass/amass:latest
    networks:
      - amass
    env_file:
      - ./config/logs/syslog.env
    volumes:
      - ./config:/.config/amass:rw
      - ./data/client:/data:rw
    depends_on:
      engine:
        condition: service_healthy
      syslog:
        condition: service_healthy

  viz:
    image: owaspamass/amass:latest
    networks:
      - amass
    env_file:
      - ./config/logs/syslog.env
    volumes:
      - ./config:/.config/amass:rw
      - ./data/viz:/data:rw
    depends_on:
      assetdb:
        condition: service_healthy
      syslog:
        condition: service_healthy
    entrypoint: /bin/viz

  subs:
    image: owaspamass/amass:latest
    networks:
      - amass
    env_file:
      - ./config/logs/syslog.env
    volumes:
      - ./config:/.config/amass:rw
      - ./data/subs:/data:rw
    depends_on:
      assetdb:
        condition: service_healthy
      syslog:
        condition: service_healthy
    entrypoint: /bin/subs

  track:
    image: owaspamass/amass:latest
    networks:
      - amass
    env_file:
      - ./config/logs/syslog.env
    volumes:
      - ./config:/.config/amass:rw
      - ./data/track:/data:rw
    depends_on:
      assetdb:
        condition: service_healthy
      syslog:
        condition: service_healthy
    entrypoint: /bin/track

  engine:
    image: owaspamass/amass:latest
    container_name: engine
    working_dir: /.config/amass
    networks:
      - amass
    environment:
      - POSTAL_SERVER_HOST=postal
      - POSTAL_SERVER_PORT=8000
    env_file:
      - ./config/logs/syslog.env
    volumes:
      - ./data/engine:/.config/amass:rw
    expose: 
      - "4000"
    deploy:
      restart_policy:
        condition: on-failure
        delay: 3s
        max_attempts: 5
        window: 360s
      resources:
        reservations:
          memory: 1024M
    depends_on:
      assetdb:
        condition: service_healthy
      postal:
        condition: service_healthy
      syslog:
        condition: service_healthy
      grafana:
        condition: service_healthy
    healthcheck:
      test: [ "CMD", "ae_isready", "--host", "127.0.0.1" ]
      interval: 10s
      timeout: 5s
      retries: 25
    entrypoint: /bin/engine

  assetdb:
    build: https://github.com/owasp-amass/asset-db.git#master
    shm_size: '4gb'
    container_name: assetdb
    networks:
      - amass
    volumes:
      - ./assetdb:/var/lib/postgresql/data:rw
    environment:
      - POSTGRES_USER=postgres
    env_file:
      - ./config/assetdb.env
    configs:
      - source: grafana_initdb
        target: /usr/share/postgresql/2_grafanadb.sh
    ports:
      - "55432:5432"
    deploy:
      restart_policy:
        condition: any
      resources:
        reservations:
          memory: 512M
    entrypoint:
      - sh
      - -euc
      - |
        cp /usr/share/postgresql/2_grafanadb.sh /docker-entrypoint-initdb.d/2_grafanadb.sh
        chmod +x /docker-entrypoint-initdb.d/2_grafanadb.sh
        /usr/local/bin/docker-entrypoint.sh postgres

  postal:
    image: ghcr.io/le0pard/postal_server:latest
    container_name: postal
    networks:
      - amass
    env_file:
      - ./config/logs/syslog.env
    expose: 
      - "8000"
    deploy:
      restart_policy:
        condition: on-failure
        delay: 3s
        max_attempts: 5
        window: 360s
      resources:
        reservations:
          memory: 2048M
    depends_on:
      syslog:
        condition: service_healthy
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://postal:8000/health" ]
      interval: 3s
      timeout: 2s
      retries: 20

  syslog:
    image: lscr.io/linuxserver/syslog-ng:latest
    container_name: syslog
    networks:
      - amass
    environment:
      - TZ=Etc/UTC
    volumes:
      - ./config/logs:/config:rw
      - ./logs:/var/log:rw
    expose:
      - "5514/udp"
      - "6601/tcp"
      - "6514/tcp"
    deploy:
      restart_policy:
        condition: any
    healthcheck:
      test: [ "CMD-SHELL", "exit 0" ]
      interval: 5s
      retries: 20

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    networks:
      - amass
    environment:
      - GF_LOG_MODE=console
      - GF_PATHS_PROVISIONING=/etc/grafana/provisioning
      - GF_FEATURE_TOGGLES_ENABLE=transformationsVariableSupport
    env_file:
      - ./config/assetdb.env
      - ./config/logs/syslog.env
    configs:
      - source: grafana_config
        target: /etc/grafana/grafana.ini
    volumes:
      - ./config/grafana/provisioning:/etc/grafana/provisioning:ro
      - ./config/grafana/dashboards:/var/lib/grafana/dashboards:ro
    ports:
      - "3000:3000"
    depends_on:
      assetdb:
        condition: service_healthy
      syslog:
        condition: service_healthy
    healthcheck:
      test: [ "CMD-SHELL", "wget --no-verbose --timeout=2 --tries=1 --spider http://grafana:3000/api/health || exit 1" ]
      interval: 3s
      timeout: 2s
      retries: 20

networks:
  amass:
    driver: bridge
    name: amass-net

configs:
  grafana_config:
    file: ./config/grafana/grafana.ini
  grafana_initdb:
    file: ./config/grafana/initdb_grafana.sh
